html,
body {
  padding: 0;
  margin: 0;
  background: rgb(20, 20, 20);
  color: rgb(214, 214, 214);
  font-family: Avenir Light, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
